@import '../../index';

.TypeData {
  display: flex;
  align-items: center;

  input {
    width: 500px;
    height: 25px;
    outline: none;
  }

  select {
    margin: 0 10px;
    height: 25px;
    background-color: transparent;
    border: $border-format;
  }
}
